node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

fb-credentials.js
api
esv-credentials.js
dummy-data.js
google-services.json
GoogleService-Info.plist
*-credentials.js